<div class="home-page-wrapper">
  <div class="header">{{ pageTitle }}</div>
  <div class="panel-wrapper">
    <div class="panel">
      <div class="pad-wrapper" *ngFor="let pad of pads">
        <app-pad
          [pad]="pad"
          (changeStateEmitter)="changePadState($event)"
        ></app-pad>
      </div>
    </div>

    <!-- holds play/pause,record,load buttons-->
    <div class="panel-controls">
      <div
        class="looper-toggle"
        *ngIf="!isPlaying; then thenBlock; else elseBlock"
      ></div>
      <ng-template #thenBlock>
        <button class="btn" (click)="play()">Run looper</button></ng-template
      >
      <ng-template #elseBlock>
        <button class="btn" (click)="stop()">Pause looper</button></ng-template
      >

      <div class="record-btn"><button>Record</button></div>
      <div class="load-btn"><button>Load</button></div>

      <!-- // double button play and pause OPTION
      <button class="btn" (click)="play()" [disabled]="isPlaying">Play</button>
      <button class="btn" (click)="stop()">Pause</button> -->
    </div>
  </div>
</div>
